{{!-- LIST --}}
<div class="rounded-list-item shadow-sm rounded-lg d-flex justify-content-between p-4">
    <h1 class="mb-0 mt-1">
        <span class="event-icon material-icons-two-tone md-36">discount</span>
        {{description}}
    </h1>
    <h1 class="mb-0 mt-1">{{rate}}% Discount when {{minimumPax}} PAX</h1>
</div>
<br>