<nav class="navbar navbar-expand-xl bg-dark sticky-top shadow-sm">
    <div class="container-fluid">
        <div class="me-auto">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link active" href="/event-tracker/home">Home</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" href="/event-tracker/calendar/{{#getToday}}{{/getToday}}">Calendar</a>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Event Lists
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/event-tracker/pencilbookings">Pencil Bookings</a></li>
                        <li><a class="dropdown-item" href="/event-tracker/reservations">Reservations</a></li>
                        <li><a class="dropdown-item" href="#">Past Events</a></li>
                        <li><a class="dropdown-item" href="#">Cancelled Events</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0 text-nowrap">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle px-3" href="#" role="button" data-bs-toggle="dropdown">
                    Username
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Admin Menu</a></li>
                    <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>