<nav class="navbar navbar-expand-xl navbar-light bg-light sticky-top shadow-sm">
    <div class="container-fluid">
        <div class="me-auto">
            {{#if back}}
            <span class="material-icons-two-tone md-light md-btn md-24"
                onclick="window.location='{{back}}'">arrow_back_ios</span>
            {{/if}}
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0 text-nowrap">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle rounded-pill px-3" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Username
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/sign-out">Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>