<div id="sidenav" class="col shadow-sm">
    <div id="sidenav-list" class="list-group h-100 align-items-center">

        <div id="sidenav-icon" class="text-center rounded-circle shadow p-4 mt-5 mx-5 mb-2 align-items-center">
            <span class="material-icons-two-tone md-60">edit_calendar</span>
        </div>
        <h2 class="sidenav-title text-center">EVENT<br>TRACKER</h2><br>

        <a href="/event-tracker" id="sidenav-link-today"
            class="list-group-item list-group-item-action px-5 py-3 border-0">
            <h2 class="sidenav-link m-0 text-center">TODAY</h2>
        </a>
        <a href="/event-tracker/pencilbookings" id="sidenav-link-pencilbookings"
            class="list-group-item list-group-item-action px-5 py-3 border-0">
            <h2 class="sidenav-link m-0 text-center">PENCIL-BOOKINGS</h2>
        </a>
        <a href="/event-tracker/reservations" id="sidenav-link-reservations"
            class="list-group-item list-group-item-action px-5 py-3 border-0">
            <h2 class="sidenav-link m-0 text-center">RESERVATIONS</h2>
        </a>
        
        <a href="/event-tracker/calendar" id="sidenav-link-calendar"
            class="list-group-item list-group-item-action px-5 py-3 border-0">
            <h2 class="sidenav-link m-0 text-center">CALENDAR</h2>
        </a>

    </div>
</div>