body > .d-flex.flex-row.justify-content-center {
    background: linear-gradient(rgba(218,218,218,0.8), rgba(255,255,255,0.8)), url("/images/bg-3.jpg");
    background-position: center;
    background-size: cover;
}

#admin-title>h1 {
    font-weight: 700;
    text-transform: uppercase;
}

.hasaccess > .rounded-list-item {
    background-color: #EEF9F3 !important;
}

.hasaccess > .rounded-list-item:hover {
    background-color: #D3EFE0 !important;
}