.withEvent {
  background-color: #9f0e31 !important;
}

.calendar-day {
    background-color: #EAEAEA;
    transition: 0.3s;
}

.calendar-day:hover {
    background-color: #DADADA;
}

.border-gray {
  border-color: #708293 !important;
}

.w-20 {
  width: 20%;
}
