.withEvent {
  background-color: #902D41 !important;
}

.calendar-day {
    background-color: #F0F0F0;
    transition: 0.3s;
}

.calendar-day:hover {
    background-color: #EAEAEA;
}

.border-gray {
  border-color: #323232 !important;
}

.w-20 {
  width: 20%;
}
